/* Required for full background image */

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
  .imgpss-ut{
    background-image: url(../assets/img/header-image.jpg); 
    background-size: 349%;
    background-position-y: 527px;
    background-position-x: -382px;
  }
  .service-icon-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  
  .service-title-one {
    font-size: 19px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    color: #136EF1;
  }
  .img-logo {
    width: 45%;
  }
  .title-blog {
    font-weight: bold;
    margin-top: 15px;
  }
  .cont-blog {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #eee;
  }
}
@media (min-width: 740px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
  .imgpss-ut{
    background-image: url(../assets/img/header-image.jpg); 
    background-size: 194%;
    background-position-y: 453px;
    background-position-x: -496px;
  }
  .service-icon-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  
  .service-title-one {
    font-size: 19px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #136EF1;
  }
  .img-logo {
    width: 22%;
  }
  .title-blog {
    font-weight: bold;
  }
  .cont-blog {
    background-color: #eee;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 35px;
    padding-bottom: 10px;
  }
}

@media (min-width: 850px) {

  .imgpss-ut{
    background-image: url(../assets/img/header-image.jpg); 
    background-size: 148%;
    background-position-y: 486px;
    background-position-x: -483px;
  }
  .service-icon-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  
  .service-title-one {
    font-size: 19px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #136EF1;
  }

  .img-logo {
    width: 15%;
  }
  .title-blog {
    font-weight: bold;
  }
  .cont-blog {
    background-color: #eee;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 35px;
    padding-bottom: 10px;
  }

  .menu-web {
    position: absolute;
    right: 120px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.blog-style {
  background-color: #eee;
}

/* scroll condition */
.top-nav-collapse {
  background-color: rgb(219, 219, 219) !important;
}

/* nav bar top web */
.navbar:not(.top-nav-collapse) {
  background: rgb(219, 219, 219) !important;
}

/* moblie_nav_on*/
@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: rgb(219, 219, 219) !important;
  }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

/*header service*/
.clbachdr {
  background-color: rgb(219, 219, 219) !important;
}

.bg-work {
  background-color: #006fc9;
}

.title-style {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
}

.title-style-work {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

.card-component {
  padding: 20px;
}

.service-cont {
  margin-top: 20px; 
  margin-bottom: 20px;
  padding: 15px;
}

.contact-title {
  font-weight: bold;
  color: white;
}

.blog-per {
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #eee;
}



.btn-blog {
  right: 10px;
  display: block;
  text-align: right;
  border-radius: 90px;
}

.service-title-two {
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.icon-service {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.txcont {
  color: white;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;

}

/* address */
.desctn {
  color: white;
  background-color: #bfbcbc;
  padding-top: 20px;
  padding-bottom: 20px;
}

.imgstl {
  width: 100%;
}

.txwt-pr {
  color: white;
}

.contact-txt {
  color: white;
  font-size: 19px;
  margin-bottom: 40px;
}

.martimg {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}


/* map open ----- */

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

  /* map closed ------ */


  /* LightBox PR images view zoom */


  /* contak */
  .cnt-ralt {
    margin-bottom: 20px;
    margin-top: 20px;
  }


  /* map open ----- */

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

  /* map closed ------ */
 

.adcbg {
  background-color: #031b4a;
  padding: 88px;
}

.footer__copyright {
	background-color: #031b4a;
	border-top: 1px solid;
	border-color: #89909e;
	border-top-width: 1px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: normal;
	text-align: left;
	color: #fff;
}

.wrapper_copyr {
  background: #031b4a;
}

#bgef {
	background-image: url("data:image/svg+xml,%3Csvg width='304' height='304' viewBox='0 0 304 304' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.1 224c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H0v-2h44.1zm160 48c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H82v-2h122.1zm57.8-46c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H304v2h-42.1zm0 16c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H304v2h-42.1zm6.2-114c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4h-86.2c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h86.2zm-256-48c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H0v-2h12.1zm185.8 34c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h86.2c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4h-86.2zM258 12.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V0h2v12.1zm-64 208c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-54.2c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9v54.2zm48-198.2c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V82h64v-2h-62V21.9zm16 16c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V66h48v-2h-46V37.9zm-128 96c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V210h16v10.1c-2.282.463-4 2.48-4 4.9 0 2.76 2.24 5 5 5s5-2.24 5-5c0-2.42-1.718-4.437-4-4.9V208h-16v-74.1zm-5.9-21.9c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H114v48H85.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H112v-48h12.1zm-6.2 130c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H176v-74.1c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V242h-60.1zm-16-64c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H114v48h10.1c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H112v-48h-10.1zM66 284.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V274H50v30h-2v-32h18v12.1zM236.1 176c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H274v44.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V146h-10.1zm-64 96c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H208v-80h16v-14h-42.1c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H226v18h-16v80h-12.1zm86.2-210c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H272V0h2v32h10.1zM98 101.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V144H53.9c-.463-2.282-2.48-4-4.9-4-2.76 0-5 2.24-5 5s2.24 5 5 5c2.42 0 4.437-1.718 4.9-4H98v-44.1zM53.9 34c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H80V0h2v34H53.9zm60.1 3.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V64H80v64H69.9c-.463-2.282-2.48-4-4.9-4-2.76 0-5 2.24-5 5s2.24 5 5 5c2.42 0 4.437-1.718 4.9-4H82V66h32V37.9zM101.9 82c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H128V37.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V82h-28.1zm16-64c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H146v44.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V18h-26.1zm102.2 270c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H98v14h-2v-16h124.1zM242 149.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V162h16v30h-16v66h48v46h2v-48h-48v-62h16v-34h-16v-10.1zM53.9 18c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H64V2H48V0h18v18H53.9zm112 32c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H192V0h50v2h-48v48h-28.1zm-48-48c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5 0-.342.034-.677.1-1h2.07c-.11.313-.17.65-.17 1 0 1.657 1.343 3 3 3s3-1.343 3-3c0-.35-.06-.687-.17-1H178v34h-18V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V32h14V2h-58.1zm0 96c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H137l32-32h39V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V66h-40.172l-32 32H117.9zm28.1 90.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-76.513L175.586 80H224V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V82h-49.586L146 112.414V188.1zm16 32c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-99.513L184.586 96H300.1c.398-1.96 1.94-3.502 3.9-3.9v2.07c-1.165.413-2 1.524-2 2.83s.835 2.417 2 2.83v2.07c-1.96-.398-3.502-1.94-3.9-3.9H185.414L162 121.414V220.1zm-144-64c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-3.513l48-48V48h32V0h2v50H66v55.413l-48 48v2.687zM50 53.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9v42.686l-48 48V210h28.1c.463 2.282 2.48 4 4.9 4 2.76 0 5-2.24 5-5s-2.24-5-5-5c-2.42 0-4.437 1.718-4.9 4H2v-62.586l48-48V53.9zm-16 16c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9v18.686l-32 32v2.828l34-34V69.9zM12.1 32c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H9.414L0 43.414v-2.828L8.586 32H12.1zm265.8 18c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h18.686L304 40.586v2.828L297.414 50H277.9zm-16 160c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H288V136.587l16-16v2.827l-14 14V210h-28.1zm-208 32c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H64v-22.586L40.586 194H21.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h19.513L66 216.586V242H53.9zm150.2 14c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H96v-56.598L56.598 162H37.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h19.502L98 200.598V256h106.1zm-150.2 2c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H80v-46.586L48.586 178H21.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h27.513L82 208.586V258H53.9zM97 100c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-48 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 96c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-144c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-96 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm96 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-32 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM49 36c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-32 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM33 68c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 240c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm80-176c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm112 176c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM17 180c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM17 84c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 39.793V0h-2v40.586L8.586 64H0v2h9.413L34 41.414v-1.62zM2 300.1V258h14v46h2v-48H0V302.17c.313-.11.65-.17 1-.17 1.306 0 2.417.835 2.83 2H5.9c-.398-1.96-1.94-3.502-3.9-3.9zM34 241v63h-2v-62H0v-2h34v1zM17 18h1V0h-2v16H0v2h17zm273-2V0h-2v18h16v-2h-14zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1c.323-.066.658-.1 1-.1 2.76 0 5 2.24 5 5s-2.24 5-5 5c-.342 0-.677-.034-1-.1v-2.07c.313.11.65.17 1 .17 1.657 0 3-1.343 3-3s-1.343-3-3-3c-.35 0-.687.06-1 .17V92.1zM80 272h2v32h-2v-32zm37.9 32c-.463-2.282-2.48-4-4.9-4-2.42 0-4.437 1.718-4.9 4h2.07c.413-1.165 1.524-2 2.83-2s2.417.835 2.83 2h2.07zM5.9 0c.066.323.1.658.1 1 0 2.76-2.24 5-5 5-.342 0-.677-.034-1-.1V3.83C.313 3.94.65 4 1 4c1.657 0 3-1.343 3-3 0-.35-.06-.687-.17-1H5.9zm294.2 0c-.066.323-.1.658-.1 1 0 2.42 1.718 4.437 4 4.9V3.83c-1.165-.413-2-1.524-2-2.83 0-.35.06-.687.17-1h-2.07zm3.9 300.1c-1.96.398-3.502 1.94-3.9 3.9h2.07c.302-.852.978-1.528 1.83-1.83v-2.07z' fill='%23000000' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");

}

.particule1 {
	animation: animParticle 10s linear infinite;
	width: 4px;
	height: 7px;
	box-shadow: 2184px 172px #000, 1065px 1871px #000, 1175px 1517px #000, 462px 572px #000, 299px 1649px #000, 1017px 579px #000, 1150px 270px #000, 536px 1610px #000, 1982px 1138px #000, 748px 895px #000, 2932px 1242px #000, 2856px 1719px #000, 335px 640px #000, 2223px 1408px #000, 2125px 1130px #000, 1211px 502px #000, 827px 942px #000, 1847px 932px #000, 1977px 1114px #000, 604px 234px #000, 698px 855px #000, 1049px 740px #000, 1594px 511px #000, 1919px 460px #000, 2639px 214px #000, 1263px 290px #000, 1505px 611px #000, 663px 285px #000, 1148px 1256px #000, 599px 1398px #000, 1179px 470px #000, 2840px 1388px #000, 1576px 1513px #000, 425px 1111px #000, 2340px 969px #000, 124px 532px #000, 296px 1799px #000, 1892px 1838px #000, 662px 836px #000, 835px 1345px #000, 2766px 390px #000, 2504px 1146px #000, 586px 1895px #000, 2981px 46px #000, 390px 798px #000, 747px 1468px #000, 25px 889px #000, 944px 644px #000, 1028px 1505px #000, 1552px 645px #000, 2810px 1178px #000, 2863px 1087px #000, 1486px 281px #000, 543px 1327px #000, 786px 582px #000, 2804px 23px #000, 2431px 272px #000, 2064px 1340px #000, 904px 1509px #000, 184px 184px #000, 1797px 1588px #000, 248px 981px #000, 332px 1671px #000, 390px 1133px #000, 300px 1123px #000, 396px 423px #000, 1624px 190px #000, 329px 619px #000, 1745px 1254px #000, 862px 1819px #000, 2632px 740px #000, 2200px 456px #000, 2057px 953px #000, 2194px 802px #000, 1893px 1202px #000, 1448px 1384px #000, 1758px 1955px #000, 1356px 1976px #000, 2971px 1588px #000, 297px 1351px #000, 2318px 1944px #000, 714px 534px #000, 1589px 1856px #000, 2572px 91px #000, 170px 1365px #000, 1066px 837px #000, 106px 1603px #000, 2758px 424px #000, 1363px 860px #000, 1979px 1090px #000, 2064px 288px #000, 2140px 1182px #000, 1436px 1899px #000, 2629px 938px #000, 1802px 1483px #000, 2421px 1221px #000, 2263px 1038px #000, 2435px 533px #000, 113px 568px #000, 2121px 168px #000, 2831px 430px #000, 266px 1583px #000, 2647px 1353px #000, 2105px 820px #000, 1481px 199px #000, 2833px 155px #000, 2574px 34px #000, 93px 385px #000, 2323px 154px #000, 744px 933px #000, 1767px 924px #000, 1084px 668px #000, 2844px 31px #000, 936px 1371px #000, 1791px 1454px #000, 780px 527px #000, 2965px 367px #000, 2678px 1481px #000, 1800px 41px #000, 1977px 1257px #000, 2476px 64px #000, 398px 1106px #000, 427px 805px #000, 1934px 1712px #000, 937px 1269px #000, 2267px 1232px #000, 407px 1125px #000, 1971px 971px #000, 1579px 61px #000, 1409px 1080px #000, 745px 1326px #000, 2368px 1284px #000, 2482px 1981px #000, 2649px 496px #000, 2782px 835px #000, 889px 1192px #000, 2528px 199px #000, 274px 1258px #000, 2202px 567px #000, 33px 1600px #000, 2315px 1862px #000, 1894px 18px #000, 1362px 1143px #000, 2781px 1237px #000, 2424px 159px #000, 34px 1450px #000, 540px 1839px #000, 872px 1870px #000, 92px 538px #000, 2927px 1160px #000;
}
.particule1:after {
	width: 4px;
	height: 7px;
	box-shadow: 2184px 172px #000, 1065px 1871px #000, 1175px 1517px #000, 462px 572px #000, 299px 1649px #000, 1017px 579px #000, 1150px 270px #000, 536px 1610px #000, 1982px 1138px #000, 748px 895px #000, 2932px 1242px #000, 2856px 1719px #000, 335px 640px #000, 2223px 1408px #000, 2125px 1130px #000, 1211px 502px #000, 827px 942px #000, 1847px 932px #000, 1977px 1114px #000, 604px 234px #000, 698px 855px #000, 1049px 740px #000, 1594px 511px #000, 1919px 460px #000, 2639px 214px #000, 1263px 290px #000, 1505px 611px #000, 663px 285px #000, 1148px 1256px #000, 599px 1398px #000, 1179px 470px #000, 2840px 1388px #000, 1576px 1513px #000, 425px 1111px #000, 2340px 969px #000, 124px 532px #000, 296px 1799px #000, 1892px 1838px #000, 662px 836px #000, 835px 1345px #000, 2766px 390px #000, 2504px 1146px #000, 586px 1895px #000, 2981px 46px #000, 390px 798px #000, 747px 1468px #000, 25px 889px #000, 944px 644px #000, 1028px 1505px #000, 1552px 645px #000, 2810px 1178px #000, 2863px 1087px #000, 1486px 281px #000, 543px 1327px #000, 786px 582px #000, 2804px 23px #000, 2431px 272px #000, 2064px 1340px #000, 904px 1509px #000, 184px 184px #000, 1797px 1588px #000, 248px 981px #000, 332px 1671px #000, 390px 1133px #000, 300px 1123px #000, 396px 423px #000, 1624px 190px #000, 329px 619px #000, 1745px 1254px #000, 862px 1819px #000, 2632px 740px #000, 2200px 456px #000, 2057px 953px #000, 2194px 802px #000, 1893px 1202px #000, 1448px 1384px #000, 1758px 1955px #000, 1356px 1976px #000, 2971px 1588px #000, 297px 1351px #000, 2318px 1944px #000, 714px 534px #000, 1589px 1856px #000, 2572px 91px #000, 170px 1365px #000, 1066px 837px #000, 106px 1603px #000, 2758px 424px #000, 1363px 860px #000, 1979px 1090px #000, 2064px 288px #000, 2140px 1182px #000, 1436px 1899px #000, 2629px 938px #000, 1802px 1483px #000, 2421px 1221px #000, 2263px 1038px #000, 2435px 533px #000, 113px 568px #000, 2121px 168px #000, 2831px 430px #000, 266px 1583px #000, 2647px 1353px #000, 2105px 820px #000, 1481px 199px #000, 2833px 155px #000, 2574px 34px #000, 93px 385px #000, 2323px 154px #000, 744px 933px #000, 1767px 924px #000, 1084px 668px #000, 2844px 31px #000, 936px 1371px #000, 1791px 1454px #000, 780px 527px #000, 2965px 367px #000, 2678px 1481px #000, 1800px 41px #000, 1977px 1257px #000, 2476px 64px #000, 398px 1106px #000, 427px 805px #000, 1934px 1712px #000, 937px 1269px #000, 2267px 1232px #000, 407px 1125px #000, 1971px 971px #000, 1579px 61px #000, 1409px 1080px #000, 745px 1326px #000, 2368px 1284px #000, 2482px 1981px #000, 2649px 496px #000, 2782px 835px #000, 889px 1192px #000, 2528px 199px #000, 274px 1258px #000, 2202px 567px #000, 33px 1600px #000, 2315px 1862px #000, 1894px 18px #000, 1362px 1143px #000, 2781px 1237px #000, 2424px 159px #000, 34px 1450px #000, 540px 1839px #000, 872px 1870px #000, 92px 538px #000, 2927px 1160px #000;
}
.particule2 {
	animation: animParticle 12s linear infinite;
	width: 4px;
	height: 7px;
	box-shadow: 562px 207px 5px #000, 2046px 1233px 5px #000, 1124px 442px 5px #000, 1993px 869px 5px #000, 2738px 395px 5px #000, 1130px 1815px 5px #000, 2631px 1237px 5px #000, 1643px 1896px 5px #000, 2638px 967px 5px #000, 1962px 898px 5px #000, 1298px 1175px 5px #000, 1942px 1786px 5px #000, 1738px 240px 5px #000, 2408px 1609px 5px #000, 2268px 1524px 5px #000, 2590px 1234px 5px #000, 2417px 829px 5px #000, 1425px 215px 5px #000, 2950px 1200px 5px #000, 1176px 546px 5px #000, 240px 740px 5px #000, 523px 1241px 5px #000, 2162px 393px 5px #000, 1140px 1579px 5px #000, 2633px 312px 5px #000, 2192px 186px 5px #000, 1902px 1832px 5px #000, 676px 1702px 5px #000, 1475px 758px 5px #000, 2284px 107px 5px #000, 1527px 1211px 5px #000, 458px 242px 5px #000, 1113px 1620px 5px #000, 1260px 1701px 5px #000, 2718px 1804px 5px #000, 1677px 537px 5px #000, 1808px 223px 5px #000, 1428px 1361px 5px #000, 892px 1039px 5px #000, 165px 1217px 5px #000, 697px 474px 5px #000, 1514px 1161px 5px #000, 233px 680px 5px #000, 417px 960px 5px #000, 610px 840px 5px #000, 2363px 187px 5px #000, 1533px 62px 5px #000, 2419px 1308px 5px #000, 1214px 766px 5px #000, 2022px 1376px 5px #000, 2519px 1222px 5px #000, 1054px 987px 5px #000, 819px 684px 5px #000, 2665px 1336px 5px #000, 2002px 1070px 5px #000, 2923px 1049px 5px #000, 693px 1276px 5px #000, 1788px 319px 5px #000, 2394px 1437px 5px #000, 241px 1275px 5px #000, 352px 1827px 5px #000, 702px 1791px 5px #000, 1919px 216px 5px #000, 2313px 1381px 5px #000, 71px 117px 5px #000, 998px 1342px 5px #000, 513px 1248px 5px #000, 21px 768px 5px #000, 173px 1199px 5px #000, 1282px 1631px 5px #000, 2066px 88px 5px #000, 1602px 1372px 5px #000, 1886px 1001px 5px #000, 2120px 672px 5px #000, 2974px 1190px 5px #000, 1577px 1618px 5px #000, 2233px 1700px 5px #000, 623px 337px 5px #000, 2414px 643px 5px #000, 1353px 753px 5px #000, 2892px 123px 5px #000, 1283px 78px 5px #000, 285px 854px 5px #000, 2470px 1663px 5px #000, 1503px 1239px 5px #000, 448px 1628px 5px #000, 2609px 462px 5px #000, 1996px 1680px 5px #000, 1859px 540px 5px #000, 153px 1240px 5px #000, 118px 965px 5px #000, 373px 363px 5px #000, 1049px 827px 5px #000, 2234px 284px 5px #000, 1744px 1093px 5px #000, 32px 672px 5px #000, 1822px 1532px 5px #000, 444px 1456px 5px #000, 1714px 1345px 5px #000, 2176px 950px 5px #000, 2307px 851px 5px #000, 1627px 173px 5px #000, 2369px 1626px 5px #000, 1483px 893px 5px #000, 176px 1897px 5px #000, 343px 1904px 5px #000, 554px 246px 5px #000, 473px 1188px 5px #000, 2135px 1952px 5px #000, 2480px 1082px 5px #000, 943px 1788px 5px #000, 35px 891px 5px #000, 1978px 1347px 5px #000, 2384px 1662px 5px #000, 1562px 853px 5px #000, 2731px 1719px 5px #000, 1710px 1127px 5px #000, 705px 1226px 5px #000, 1519px 45px 5px #000, 1808px 1922px 5px #000, 823px 1277px 5px #000, 2439px 1261px 5px #000, 902px 176px 5px #000, 2459px 806px 5px #000, 1052px 836px 5px #000, 2810px 470px 5px #000, 561px 454px 5px #000, 2166px 1409px 5px #000, 860px 1672px 5px #000, 1670px 1821px 5px #000, 2216px 1427px 5px #000, 2984px 1375px 5px #000, 2962px 1772px 5px #000, 129px 1421px 5px #000, 2179px 1216px 5px #000, 1423px 904px 5px #000, 288px 130px 5px #000, 1939px 381px 5px #000, 1956px 715px 5px #000, 1249px 235px 5px #000, 1079px 255px 5px #000, 2656px 548px 5px #000, 2016px 782px 5px #000, 1472px 1368px 5px #000, 2111px 1916px 5px #000, 2472px 741px 5px #000, 2611px 760px 5px #000, 200px 1495px 5px #000, 713px 1901px 5px #000, 1493px 1122px 5px #000;
}
.particule2:after {
	width: 4px;
	height: 7px;
	box-shadow: 562px 207px 5px #000, 2046px 1233px 5px #000, 1124px 442px 5px #000, 1993px 869px 5px #000, 2738px 395px 5px #000, 1130px 1815px 5px #000, 2631px 1237px 5px #000, 1643px 1896px 5px #000, 2638px 967px 5px #000, 1962px 898px 5px #000, 1298px 1175px 5px #000, 1942px 1786px 5px #000, 1738px 240px 5px #000, 2408px 1609px 5px #000, 2268px 1524px 5px #000, 2590px 1234px 5px #000, 2417px 829px 5px #000, 1425px 215px 5px #000, 2950px 1200px 5px #000, 1176px 546px 5px #000, 240px 740px 5px #000, 523px 1241px 5px #000, 2162px 393px 5px #000, 1140px 1579px 5px #000, 2633px 312px 5px #000, 2192px 186px 5px #000, 1902px 1832px 5px #000, 676px 1702px 5px #000, 1475px 758px 5px #000, 2284px 107px 5px #000, 1527px 1211px 5px #000, 458px 242px 5px #000, 1113px 1620px 5px #000, 1260px 1701px 5px #000, 2718px 1804px 5px #000, 1677px 537px 5px #000, 1808px 223px 5px #000, 1428px 1361px 5px #000, 892px 1039px 5px #000, 165px 1217px 5px #000, 697px 474px 5px #000, 1514px 1161px 5px #000, 233px 680px 5px #000, 417px 960px 5px #000, 610px 840px 5px #000, 2363px 187px 5px #000, 1533px 62px 5px #000, 2419px 1308px 5px #000, 1214px 766px 5px #000, 2022px 1376px 5px #000, 2519px 1222px 5px #000, 1054px 987px 5px #000, 819px 684px 5px #000, 2665px 1336px 5px #000, 2002px 1070px 5px #000, 2923px 1049px 5px #000, 693px 1276px 5px #000, 1788px 319px 5px #000, 2394px 1437px 5px #000, 241px 1275px 5px #000, 352px 1827px 5px #000, 702px 1791px 5px #000, 1919px 216px 5px #000, 2313px 1381px 5px #000, 71px 117px 5px #000, 998px 1342px 5px #000, 513px 1248px 5px #000, 21px 768px 5px #000, 173px 1199px 5px #000, 1282px 1631px 5px #000, 2066px 88px 5px #000, 1602px 1372px 5px #000, 1886px 1001px 5px #000, 2120px 672px 5px #000, 2974px 1190px 5px #000, 1577px 1618px 5px #000, 2233px 1700px 5px #000, 623px 337px 5px #000, 2414px 643px 5px #000, 1353px 753px 5px #000, 2892px 123px 5px #000, 1283px 78px 5px #000, 285px 854px 5px #000, 2470px 1663px 5px #000, 1503px 1239px 5px #000, 448px 1628px 5px #000, 2609px 462px 5px #000, 1996px 1680px 5px #000, 1859px 540px 5px #000, 153px 1240px 5px #000, 118px 965px 5px #000, 373px 363px 5px #000, 1049px 827px 5px #000, 2234px 284px 5px #000, 1744px 1093px 5px #000, 32px 672px 5px #000, 1822px 1532px 5px #000, 444px 1456px 5px #000, 1714px 1345px 5px #000, 2176px 950px 5px #000, 2307px 851px 5px #000, 1627px 173px 5px #000, 2369px 1626px 5px #000, 1483px 893px 5px #000, 176px 1897px 5px #000, 343px 1904px 5px #000, 554px 246px 5px #000, 473px 1188px 5px #000, 2135px 1952px 5px #000, 2480px 1082px 5px #000, 943px 1788px 5px #000, 35px 891px 5px #000, 1978px 1347px 5px #000, 2384px 1662px 5px #000, 1562px 853px 5px #000, 2731px 1719px 5px #000, 1710px 1127px 5px #000, 705px 1226px 5px #000, 1519px 45px 5px #000, 1808px 1922px 5px #000, 823px 1277px 5px #000, 2439px 1261px 5px #000, 902px 176px 5px #000, 2459px 806px 5px #000, 1052px 836px 5px #000, 2810px 470px 5px #000, 561px 454px 5px #000, 2166px 1409px 5px #000, 860px 1672px 5px #000, 1670px 1821px 5px #000, 2216px 1427px 5px #000, 2984px 1375px 5px #000, 2962px 1772px 5px #000, 129px 1421px 5px #000, 2179px 1216px 5px #000, 1423px 904px 5px #000, 288px 130px 5px #000, 1939px 381px 5px #000, 1956px 715px 5px #000, 1249px 235px 5px #000, 1079px 255px 5px #000, 2656px 548px 5px #000, 2016px 782px 5px #000, 1472px 1368px 5px #000, 2111px 1916px 5px #000, 2472px 741px 5px #000, 2611px 760px 5px #000, 200px 1495px 5px #000, 713px 1901px 5px #000, 1493px 1122px 5px #000;
}
.particule3 {
	animation: animParticle 15s linear infinite;
	width: 4px;
	height: 7px;
	box-shadow: 1832px 137px 10px #000, 1147px 176px 10px #000, 2336px 330px 10px #000, 1014px 62px 10px #000, 2455px 191px 10px #000, 2118px 1681px 10px #000, 2834px 775px 10px #000, 1674px 1703px 10px #000, 1584px 486px 10px #000, 1976px 525px 10px #000, 2322px 238px 10px #000, 760px 504px 10px #000, 1323px 148px 10px #000, 2637px 1018px 10px #000, 983px 259px 10px #000, 2405px 1107px 10px #000, 81px 1837px 10px #000, 2924px 660px 10px #000, 2120px 1161px 10px #000, 1602px 1311px 10px #000, 2891px 301px 10px #000, 2609px 1590px 10px #000, 1100px 402px 10px #000, 2536px 757px 10px #000, 1137px 1604px 10px #000, 2078px 225px 10px #000, 1140px 915px 10px #000, 578px 1572px 10px #000, 215px 34px 10px #000, 2966px 896px 10px #000, 2745px 1946px 10px #000, 2083px 1319px 10px #000, 2472px 1338px 10px #000, 1272px 319px 10px #000, 151px 928px 10px #000, 2218px 418px 10px #000, 2596px 1090px 10px #000, 2224px 814px 10px #000, 337px 786px 10px #000, 992px 1745px 10px #000, 1290px 1733px 10px #000, 1840px 791px 10px #000, 31px 572px 10px #000, 2355px 886px 10px #000, 1251px 532px 10px #000, 2538px 904px 10px #000, 2756px 1021px 10px #000, 1769px 69px 10px #000, 981px 605px 10px #000, 2050px 1027px 10px #000, 425px 317px 10px #000, 2112px 392px 10px #000, 2541px 966px 10px #000, 2509px 1818px 10px #000, 1437px 1627px 10px #000, 764px 487px 10px #000, 1524px 394px 10px #000, 2039px 406px 10px #000, 466px 1744px 10px #000, 2636px 504px 10px #000, 1759px 1384px 10px #000, 2902px 612px 10px #000, 1525px 525px 10px #000, 1054px 218px 10px #000, 2560px 716px 10px #000, 1803px 1777px 10px #000, 743px 1029px 10px #000, 1005px 630px 10px #000, 1758px 593px 10px #000, 2358px 1678px 10px #000, 479px 786px 10px #000, 859px 760px 10px #000, 1542px 1561px 10px #000, 1664px 1313px 10px #000, 1258px 399px 10px #000, 1303px 473px 10px #000, 1333px 31px 10px #000, 1539px 198px 10px #000, 1336px 1339px 10px #000, 2847px 681px 10px #000, 2315px 923px 10px #000, 1304px 1327px 10px #000, 1500px 1095px 10px #000, 2866px 1917px 10px #000, 557px 909px 10px #000, 680px 765px 10px #000, 2367px 1475px 10px #000, 1033px 241px 10px #000, 1840px 1867px 10px #000, 2324px 664px 10px #000, 1566px 506px 10px #000, 2676px 657px 10px #000, 2452px 816px 10px #000, 1732px 749px 10px #000, 1820px 1129px 10px #000, 1515px 838px 10px #000, 2369px 1413px 10px #000, 158px 584px 10px #000, 854px 1219px 10px #000, 2842px 313px 10px #000, 382px 1800px 10px #000, 2962px 802px 10px #000, 1480px 1622px 10px #000, 1460px 744px 10px #000, 2971px 1708px 10px #000, 2308px 56px 10px #000, 2425px 569px 10px #000, 1322px 1460px 10px #000, 584px 1398px 10px #000, 2648px 298px 10px #000, 2729px 488px 10px #000, 33px 1791px 10px #000, 2485px 1307px 10px #000, 860px 1014px 10px #000, 1938px 687px 10px #000, 2617px 77px 10px #000, 113px 746px 10px #000, 478px 1968px 10px #000, 2889px 1093px 10px #000, 353px 291px 10px #000, 2656px 1625px 10px #000, 2994px 490px 10px #000, 2649px 137px 10px #000, 2812px 25px 10px #000, 1932px 1575px 10px #000, 1048px 927px 10px #000, 1566px 98px 10px #000, 2291px 1873px 10px #000, 2885px 22px 10px #000, 1824px 452px 10px #000, 2024px 1412px 10px #000, 625px 1882px 10px #000, 1184px 1258px 10px #000, 1857px 1765px 10px #000, 1017px 1723px 10px #000, 1695px 161px 10px #000, 2070px 807px 10px #000, 1152px 935px 10px #000, 2867px 1621px 10px #000, 782px 1984px 10px #000, 2925px 75px 10px #000, 118px 677px 10px #000, 509px 1568px 10px #000, 2747px 1083px 10px #000, 285px 1012px 10px #000, 276px 1168px 10px #000, 1319px 1378px 10px #000, 483px 1807px 10px #000, 2214px 967px 10px #000, 538px 1151px 10px #000;
}
.particule3:after {
	width: 4px;
	height: 7px;
	box-shadow: 1832px 137px 10px #000, 1147px 176px 10px #000, 2336px 330px 10px #000, 1014px 62px 10px #000, 2455px 191px 10px #000, 2118px 1681px 10px #000, 2834px 775px 10px #000, 1674px 1703px 10px #000, 1584px 486px 10px #000, 1976px 525px 10px #000, 2322px 238px 10px #000, 760px 504px 10px #000, 1323px 148px 10px #000, 2637px 1018px 10px #000, 983px 259px 10px #000, 2405px 1107px 10px #000, 81px 1837px 10px #000, 2924px 660px 10px #000, 2120px 1161px 10px #000, 1602px 1311px 10px #000, 2891px 301px 10px #000, 2609px 1590px 10px #000, 1100px 402px 10px #000, 2536px 757px 10px #000, 1137px 1604px 10px #000, 2078px 225px 10px #000, 1140px 915px 10px #000, 578px 1572px 10px #000, 215px 34px 10px #000, 2966px 896px 10px #000, 2745px 1946px 10px #000, 2083px 1319px 10px #000, 2472px 1338px 10px #000, 1272px 319px 10px #000, 151px 928px 10px #000, 2218px 418px 10px #000, 2596px 1090px 10px #000, 2224px 814px 10px #000, 337px 786px 10px #000, 992px 1745px 10px #000, 1290px 1733px 10px #000, 1840px 791px 10px #000, 31px 572px 10px #000, 2355px 886px 10px #000, 1251px 532px 10px #000, 2538px 904px 10px #000, 2756px 1021px 10px #000, 1769px 69px 10px #000, 981px 605px 10px #000, 2050px 1027px 10px #000, 425px 317px 10px #000, 2112px 392px 10px #000, 2541px 966px 10px #000, 2509px 1818px 10px #000, 1437px 1627px 10px #000, 764px 487px 10px #000, 1524px 394px 10px #000, 2039px 406px 10px #000, 466px 1744px 10px #000, 2636px 504px 10px #000, 1759px 1384px 10px #000, 2902px 612px 10px #000, 1525px 525px 10px #000, 1054px 218px 10px #000, 2560px 716px 10px #000, 1803px 1777px 10px #000, 743px 1029px 10px #000, 1005px 630px 10px #000, 1758px 593px 10px #000, 2358px 1678px 10px #000, 479px 786px 10px #000, 859px 760px 10px #000, 1542px 1561px 10px #000, 1664px 1313px 10px #000, 1258px 399px 10px #000, 1303px 473px 10px #000, 1333px 31px 10px #000, 1539px 198px 10px #000, 1336px 1339px 10px #000, 2847px 681px 10px #000, 2315px 923px 10px #000, 1304px 1327px 10px #000, 1500px 1095px 10px #000, 2866px 1917px 10px #000, 557px 909px 10px #000, 680px 765px 10px #000, 2367px 1475px 10px #000, 1033px 241px 10px #000, 1840px 1867px 10px #000, 2324px 664px 10px #000, 1566px 506px 10px #000, 2676px 657px 10px #000, 2452px 816px 10px #000, 1732px 749px 10px #000, 1820px 1129px 10px #000, 1515px 838px 10px #000, 2369px 1413px 10px #000, 158px 584px 10px #000, 854px 1219px 10px #000, 2842px 313px 10px #000, 382px 1800px 10px #000, 2962px 802px 10px #000, 1480px 1622px 10px #000, 1460px 744px 10px #000, 2971px 1708px 10px #000, 2308px 56px 10px #000, 2425px 569px 10px #000, 1322px 1460px 10px #000, 584px 1398px 10px #000, 2648px 298px 10px #000, 2729px 488px 10px #000, 33px 1791px 10px #000, 2485px 1307px 10px #000, 860px 1014px 10px #000, 1938px 687px 10px #000, 2617px 77px 10px #000, 113px 746px 10px #000, 478px 1968px 10px #000, 2889px 1093px 10px #000, 353px 291px 10px #000, 2656px 1625px 10px #000, 2994px 490px 10px #000, 2649px 137px 10px #000, 2812px 25px 10px #000, 1932px 1575px 10px #000, 1048px 927px 10px #000, 1566px 98px 10px #000, 2291px 1873px 10px #000, 2885px 22px 10px #000, 1824px 452px 10px #000, 2024px 1412px 10px #000, 625px 1882px 10px #000, 1184px 1258px 10px #000, 1857px 1765px 10px #000, 1017px 1723px 10px #000, 1695px 161px 10px #000, 2070px 807px 10px #000, 1152px 935px 10px #000, 2867px 1621px 10px #000, 782px 1984px 10px #000, 2925px 75px 10px #000, 118px 677px 10px #000, 509px 1568px 10px #000, 2747px 1083px 10px #000, 285px 1012px 10px #000, 276px 1168px 10px #000, 1319px 1378px 10px #000, 483px 1807px 10px #000, 2214px 967px 10px #000, 538px 1151px 10px #000;
}
.particule4 {
	animation: animParticle 20s linear infinite;
	width: 4px;
	height: 7px;
	box-shadow: 2322px 366px 20px #000, 768px 568px 20px #000, 2888px 31px 20px #000, 856px 1581px 20px #000, 2685px 1630px 20px #000, 765px 1730px 20px #000, 1767px 1272px 20px #000, 1965px 1111px 20px #000, 2606px 1625px 20px #000, 2134px 10px 20px #000, 2778px 105px 20px #000, 2550px 455px 20px #000, 2163px 639px 20px #000, 273px 1800px 20px #000, 385px 1807px 20px #000, 107px 821px 20px #000, 2280px 1948px 20px #000, 1288px 492px 20px #000, 2907px 43px 20px #000, 1030px 1110px 20px #000, 1080px 1000px 20px #000, 456px 198px 20px #000, 1999px 333px 20px #000, 232px 1818px 20px #000, 997px 429px 20px #000, 2949px 1323px 20px #000, 1996px 1742px 20px #000, 2145px 289px 20px #000, 43px 311px 20px #000, 136px 987px 20px #000, 691px 157px 20px #000, 1156px 1770px 20px #000, 2386px 165px 20px #000, 1095px 1829px 20px #000, 465px 1898px 20px #000, 925px 995px 20px #000, 79px 241px 20px #000, 295px 184px 20px #000, 2614px 1474px 20px #000, 965px 607px 20px #000, 525px 3px 20px #000, 567px 88px 20px #000, 268px 942px 20px #000, 305px 962px 20px #000, 1840px 1562px 20px #000, 1819px 1260px 20px #000, 1368px 1835px 20px #000, 1856px 1539px 20px #000, 676px 491px 20px #000, 366px 1834px 20px #000, 600px 88px 20px #000, 916px 354px 20px #000, 267px 882px 20px #000, 2074px 1313px 20px #000, 177px 811px 20px #000, 2739px 931px 20px #000, 683px 1045px 20px #000, 1197px 297px 20px #000, 2232px 1916px 20px #000, 2246px 1664px 20px #000, 1965px 90px 20px #000, 1620px 1184px 20px #000, 2049px 1004px 20px #000, 111px 250px 20px #000, 933px 1376px 20px #000, 2317px 1887px 20px #000, 860px 1699px 20px #000, 2151px 1413px 20px #000, 1381px 1039px 20px #000, 2432px 1493px 20px #000, 169px 13px 20px #000, 316px 1989px 20px #000, 2422px 435px 20px #000, 1903px 972px 20px #000, 2415px 715px 20px #000, 530px 912px 20px #000, 1920px 1896px 20px #000, 445px 1782px 20px #000, 1021px 165px 20px #000, 1115px 996px 20px #000, 2907px 808px 20px #000, 2890px 1860px 20px #000, 2420px 427px 20px #000, 1168px 559px 20px #000, 1918px 657px 20px #000, 1979px 1587px 20px #000, 1442px 1277px 20px #000, 1335px 1720px 20px #000, 1821px 321px 20px #000, 1235px 1772px 20px #000, 1316px 151px 20px #000, 460px 1382px 20px #000, 2955px 1963px 20px #000, 1941px 1535px 20px #000, 999px 146px 20px #000, 181px 1395px 20px #000, 1880px 651px 20px #000, 1780px 1656px 20px #000, 1134px 1165px 20px #000, 1447px 1809px 20px #000, 2731px 770px 20px #000, 866px 353px 20px #000, 1240px 1343px 20px #000, 2654px 1492px 20px #000, 1177px 945px 20px #000, 1804px 706px 20px #000, 1281px 468px 20px #000, 1089px 881px 20px #000, 2802px 605px 20px #000, 1129px 1641px 20px #000, 1318px 980px 20px #000, 740px 974px 20px #000, 2840px 1533px 20px #000, 767px 1403px 20px #000, 2560px 33px 20px #000, 1980px 263px 20px #000, 129px 343px 20px #000, 739px 944px 20px #000, 2684px 872px 20px #000, 2493px 891px 20px #000, 2439px 1357px 20px #000, 2524px 1112px 20px #000, 2211px 448px 20px #000, 2946px 892px 20px #000, 2174px 383px 20px #000, 648px 39px 20px #000, 157px 985px 20px #000, 2607px 357px 20px #000, 1565px 1874px 20px #000, 175px 282px 20px #000, 322px 1487px 20px #000, 2093px 1127px 20px #000, 253px 818px 20px #000, 1212px 509px 20px #000, 128px 1571px 20px #000, 11px 868px 20px #000, 431px 315px 20px #000, 1706px 239px 20px #000, 1857px 562px 20px #000, 1608px 1505px 20px #000, 264px 1574px 20px #000, 785px 1925px 20px #000, 44px 1590px 20px #000, 441px 747px 20px #000, 2214px 435px 20px #000, 434px 99px 20px #000, 1930px 100px 20px #000, 753px 1876px 20px #000, 2901px 1582px 20px #000, 2776px 1935px 20px #000;
}
.particule4:after {
	width: 4px;
	height: 7px;
	box-shadow: 2322px 366px 20px #000, 768px 568px 20px #000, 2888px 31px 20px #000, 856px 1581px 20px #000, 2685px 1630px 20px #000, 765px 1730px 20px #000, 1767px 1272px 20px #000, 1965px 1111px 20px #000, 2606px 1625px 20px #000, 2134px 10px 20px #000, 2778px 105px 20px #000, 2550px 455px 20px #000, 2163px 639px 20px #000, 273px 1800px 20px #000, 385px 1807px 20px #000, 107px 821px 20px #000, 2280px 1948px 20px #000, 1288px 492px 20px #000, 2907px 43px 20px #000, 1030px 1110px 20px #000, 1080px 1000px 20px #000, 456px 198px 20px #000, 1999px 333px 20px #000, 232px 1818px 20px #000, 997px 429px 20px #000, 2949px 1323px 20px #000, 1996px 1742px 20px #000, 2145px 289px 20px #000, 43px 311px 20px #000, 136px 987px 20px #000, 691px 157px 20px #000, 1156px 1770px 20px #000, 2386px 165px 20px #000, 1095px 1829px 20px #000, 465px 1898px 20px #000, 925px 995px 20px #000, 79px 241px 20px #000, 295px 184px 20px #000, 2614px 1474px 20px #000, 965px 607px 20px #000, 525px 3px 20px #000, 567px 88px 20px #000, 268px 942px 20px #000, 305px 962px 20px #000, 1840px 1562px 20px #000, 1819px 1260px 20px #000, 1368px 1835px 20px #000, 1856px 1539px 20px #000, 676px 491px 20px #000, 366px 1834px 20px #000, 600px 88px 20px #000, 916px 354px 20px #000, 267px 882px 20px #000, 2074px 1313px 20px #000, 177px 811px 20px #000, 2739px 931px 20px #000, 683px 1045px 20px #000, 1197px 297px 20px #000, 2232px 1916px 20px #000, 2246px 1664px 20px #000, 1965px 90px 20px #000, 1620px 1184px 20px #000, 2049px 1004px 20px #000, 111px 250px 20px #000, 933px 1376px 20px #000, 2317px 1887px 20px #000, 860px 1699px 20px #000, 2151px 1413px 20px #000, 1381px 1039px 20px #000, 2432px 1493px 20px #000, 169px 13px 20px #000, 316px 1989px 20px #000, 2422px 435px 20px #000, 1903px 972px 20px #000, 2415px 715px 20px #000, 530px 912px 20px #000, 1920px 1896px 20px #000, 445px 1782px 20px #000, 1021px 165px 20px #000, 1115px 996px 20px #000, 2907px 808px 20px #000, 2890px 1860px 20px #000, 2420px 427px 20px #000, 1168px 559px 20px #000, 1918px 657px 20px #000, 1979px 1587px 20px #000, 1442px 1277px 20px #000, 1335px 1720px 20px #000, 1821px 321px 20px #000, 1235px 1772px 20px #000, 1316px 151px 20px #000, 460px 1382px 20px #000, 2955px 1963px 20px #000, 1941px 1535px 20px #000, 999px 146px 20px #000, 181px 1395px 20px #000, 1880px 651px 20px #000, 1780px 1656px 20px #000, 1134px 1165px 20px #000, 1447px 1809px 20px #000, 2731px 770px 20px #000, 866px 353px 20px #000, 1240px 1343px 20px #000, 2654px 1492px 20px #000, 1177px 945px 20px #000, 1804px 706px 20px #000, 1281px 468px 20px #000, 1089px 881px 20px #000, 2802px 605px 20px #000, 1129px 1641px 20px #000, 1318px 980px 20px #000, 740px 974px 20px #000, 2840px 1533px 20px #000, 767px 1403px 20px #000, 2560px 33px 20px #000, 1980px 263px 20px #000, 129px 343px 20px #000, 739px 944px 20px #000, 2684px 872px 20px #000, 2493px 891px 20px #000, 2439px 1357px 20px #000, 2524px 1112px 20px #000, 2211px 448px 20px #000, 2946px 892px 20px #000, 2174px 383px 20px #000, 648px 39px 20px #000, 157px 985px 20px #000, 2607px 357px 20px #000, 1565px 1874px 20px #000, 175px 282px 20px #000, 322px 1487px 20px #000, 2093px 1127px 20px #000, 253px 818px 20px #000, 1212px 509px 20px #000, 128px 1571px 20px #000, 11px 868px 20px #000, 431px 315px 20px #000, 1706px 239px 20px #000, 1857px 562px 20px #000, 1608px 1505px 20px #000, 264px 1574px 20px #000, 785px 1925px 20px #000, 44px 1590px 20px #000, 441px 747px 20px #000, 2214px 435px 20px #000, 434px 99px 20px #000, 1930px 100px 20px #000, 753px 1876px 20px #000, 2901px 1582px 20px #000, 2776px 1935px 20px #000;
}

.particle {
	position: absolute;
	display: inline-block;
	bottom: 0;
}
.particle:after {
	position: absolute;
	display: inline-block;
	content: "";
	top: 700px;
}
@keyframes animParticle {
	from {
		transform: translateY(0px);
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	to {
		transform: translateY(-1920px);
		opacity: 0;
	}
}

.lot {
  color: #fff;
}

.blog-cont {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.title-perblog {
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 60px;
}

.text-navbar {
  color: black;
}

.#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 55px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.btn-cont-tryapps {
  background-color: black; 
  color: white;     
  padding: 20px;
  border-radius: 90px;
}

.box-menu {
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 60px;
}

.cont-title-post {
  margin-right: 40px;
  margin-bottom: 10px;
}

.cont-blog-title {
  background-color: white;
  padding-top: 35px;
  padding-bottom: 10px;
}

.clsynv {
  color: black !important;
  font-weight: 400;
}

.size-cont-srv {
  height: 150px;
}

.z-img-work {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 20px;
  padding: 5px;
  width: 150px;
}

.hecart-work {
  height: 520px;
}